h2 {
  font-weight: normal;
  margin-left: 15%;
  margin-bottom: 30px;
}

.searchInput {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0px;
  border-color: #0077b6;
  border-radius: 5px;
}
.searchInput::placeholder {
  padding-left: 7px;
}
.companyList {
  margin-bottom: 100px;
}
