body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  height: auto;
  position: relative;
}
.mainWrapper {
  width: 100%;
  height: auto;
  flex-direction: column;
}
h2 {
  font-weight: normal;
  margin-left: 15%;
  margin-bottom: 30px;
}

.searchInput {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0px;
  border-color: #0077b6;
  border-radius: 5px;
}
.searchInput::placeholder {
  padding-left: 7px;
}
.companyList {
  width: 40%;
}
