.h4-selectedCompany {
  margin-left: 35%;
  margin-bottom: 20px;
  color: #333333;
}
/* ReviewsTop */
#searchalert {
  font-weight: normal;
  font-size: small;
  margin-left: 35%;
  margin-top: 40px;
}
.searchCompanyAsterisk {
  font-size: 12px;
  margin-left: 30%;
  margin-bottom: 40px;
}
.searchCompanyAsterisk solid {
  color: red;
}
.companySelectZone {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  margin-bottom: 50px;
}
.selectCompany {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding: 15px;
  border: 1px solid lightgray;
}
.selectedCompanyName {
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #0077b6;
  border-radius: 5px;
}

/* ReviewsNew */
#reviewNewAsterisk {
  font-size: small;
  font-weight: bold;
}
#reviewNewAsterisk solid {
  font-size: small;
  color: red;
  font-weight: bold;
}
.reviewsNewForm {
  margin-left: 20%;
}
.reviewsForm {
  margin-bottom: 5%;
  display: flex;
}
textarea {
  height: 120px;
  width: 60%;
  border: 1px solid lightgray;
  background-color: rgb(250, 246, 246);
}
.exp-culture {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0px;
}
.exp-joinReason {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0px;
}
.exp-growth {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0px;
}
.exp-leaveReason {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0px;
}
.exp-salarySystem {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0px;
}
textarea::placeholder {
  font-size: small;
}

.reviews-btn {
  background-color: #0077b6;
  border: 1px solid #0077b6;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.reviews-btn:hover {
  opacity: 0.8;
}
.reviews-btn:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}
.finishReviews-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  margin-left: 20%;
  margin-top: 20px;
  background-color: #0099ff;
  color: white;
  width: 30%;
  border: 1px solid #0099ff;
  border-radius: 4px;
  line-height: 50%;
  font-weight: bold;
}
.finishReviews-btn:hover {
  opacity: 0.8;
}
.finishReviews-btn:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}
