/* commonStyle */
body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  height: auto;
  position: relative;
}
.mainWrapper {
  height: auto;
  width: 100%;
  flex-direction: column;
}

h2 {
  font-weight: normal;
  margin-left: 15%;
  margin-bottom: 30px;
}

h3 {
  font-weight: normal;
  margin-left: 20%;
}

/* CompaniesIndex */
table {
  border-collapse: collapse;
  border: 1px solid lightgray;
  width: 80%;
  margin: 0 auto;
}
tr {
  height: 70px;
}
a {
  color: #0077b6;
}
td p {
  color: #0077b6;
}
td.companyName {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px 10px 30px;
}
td.companyName a {
  text-decoration: none;
}
td.reviews {
  display: block;
  font-size: 10px;
  text-align: center;
  margin-top: 10%;
  margin-left: 60%;
  margin-right: -30%;
  line-height: 80%;
  padding: 20px 5px 5px 5px;
  border-right: 0.5px dotted lightgray;
  border-left: 0.5px dotted lightgray;
}
.reviews a {
  font-weight: normal;
  text-decoration: none;
}
td.follow-btn {
  font-size: 10px;
  text-align: center;
  padding: 20px 5px 5px 5px;
}
.follow-btn button {
  margin-left: 25%;
  font-weight: normal;
  background-color: #0099ff;
  color: white;
  border: 1px solid #0099ff;
  border-radius: 4px;
  height: 30%;
}

/* CompaniesShow */
.selectCategory {
  font-weight: normal;
  margin-left: 20%;
}
.review-categories {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}
.categories-name {
  padding: 20px;
  border: 0.5px solid lightgray;
  line-height: 50%;
  color: #0077b6;
  font-weight: bold;
  text-decoration: none;
}
.categories-name span {
  display: block;
  font-size: 12px;
  text-align: right;
  text-decoration: underline;
}
